<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Custom" lockAttributes="allowAbsolutePathsWhenDelegated">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<error statusCode="404" prefixLanguageFilePath="" path="/error/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="403" prefixLanguageFilePath="" path="/error/403.aspx" responseMode="ExecuteURL" />
		</httpErrors>
        <security>
            <requestFiltering>
                <filteringRules>
                    <filteringRule name="TestBlock" scanUrl="true" scanQueryString="false">
                        <appliesTo>
                            <clear />
                            <add fileExtension=".jpg" />
                        </appliesTo>
                        <denyStrings>
                            <clear />
                            <add string="shore" />
                            <add string="forest-edit2" />
                        </denyStrings>
                        <scanHeaders>
                            <clear />
                        </scanHeaders>
                    </filteringRule>
                </filteringRules>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".lab" mimeType="text/lab" />
        </staticContent>
        <!-- <caching>
            <profiles>
                <add extension=".jpg" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching> -->
	</system.webServer>
	<!-- <location path="index.html">
		<system.webServer>
			<security>
				<authorization>
					<remove users="?" roles="" verbs="" />
					<remove users="*" roles="" verbs="" />
					<add accessType="Allow" roles="Administrators" />
				</authorization>
			</security>
		</system.webServer>
	</location> -->
</configuration>